---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Sectionhead>
    <Fragment slot="title">Contacto</Fragment>
    <Fragment slot="desc">Estamos aquí para ayudar</Fragment>
  </Sectionhead>
  <Container>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl">BrainCare</h2>
        <p class="text-lg leading-relaxed mt-3">
          Te gustaría agendar una cita o saber más sobre nuestros servicios, no
          dudes en contactarnos.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2">
            <Icon class="flex-shrink-0 w-4 h-4" name="uil:map-marker" />

            <span
              >
              <a class="underline" href="https://www.google.com/maps/place/BrainCare+-+Psicoterapia+y+Neurofeedback/@20.6836213,-100.4340026,17z/data=!3m1!4b1!4m6!3m5!1s0x85d35986b86a2c09:0x5650f1b4984303bd!8m2!3d20.6836213!4d-100.4340026!16s%2Fg%2F11t3ytkdjt?hl=en-MX&entry=ttu" target="_blank">
            Querétaro, WTC Momentum, Torre Médica II, Paseo de la república,
              KM 13020, Juriquilla
          </a>
              </span
            >
          </div><div class="flex items-center mt-2 space-x-2">
            <Icon class="flex-shrink-0 w-4 h-4" name="uil:envelope" /><a
              href="mailto:Braincaremx@gmail.com" class="underline">
              Braincaremx@gmail.com
            </a>
          </div><div class="flex items-center mt-2 space-x-2">
            <Icon class="flex-shrink-0 w-4 h-4" name="uil:phone" /><a
              href="https://wa.link/i4fle5" class="underline">
              +52 44 21 26 38 35
            </a>
          </div>
        </div>
        <hr class="mt-5" />
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2">
            <Icon class="flex-shrink-0 w-4 h-4" name="uil:map-marker" />

            <span
              ><a class="underline" href="https://www.google.com/maps/place/BrainCare+-+Neurofeedback+y+Psicoterapia+Puebla/@19.0201784,-98.2648443,17z/data=!3m1!4b1!4m6!3m5!1s0x85cfc7237271cd63:0x761385ccb618fa1a!8m2!3d19.0201784!4d-98.2648443!16s%2Fg%2F11l69qgyg9?hl=en-MX&entry=ttu" target="_blank">Torre Médica MAC, Anillo periférico ecológico 3507, Cholula,
              Puebla</a></span>             
          </div><div class="flex items-center mt-2 space-x-2">
            <Icon class="flex-shrink-0 w-4 h-4" name="uil:envelope" /><a
              href="mailto:Braincarepuebla@gmail.com" class="underline">
              Braincarepuebla@gmail.com
            </a>
          </div><div class="flex items-center mt-2 space-x-2">
            <Icon class="flex-shrink-0 w-4 h-4" name="uil:phone" /><a
              href="https://wa.link/esplyg" class="underline">
              +52 221 586 8898
            </a>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
