---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Qué es Neurofeedback">
  <Sectionhead>
    <Fragment slot="title">¿Qué es el Neurofeedback?</Fragment>
    <Fragment slot="desc">
      <section class="text-left mx-auto gap-4 max-w-2xl leading-snug text-lg">
        <p class="mb-12 text-center text-2xl">
          El Neurofeedback es una técnica no invasiva que entrena al cerebro
          para auto-regularse y optimizar su actividad cerebral, lo que
          contribuye a mejorar la salud mental.
        </p>
      </section>
    </Fragment>
  </Sectionhead>
  <Container>
    <section class="text-left mx-auto gap-4 max-w-2xl leading-snug text-lg">
      <p class="mb-12 text-xl">
        Nuestros tratamientos son altamente efectivos y personalizados para
        satisfacer las necesidades individuales. Pueden resultar beneficiosos en
        una amplia variedad de problemas, incluyendo la gestión del estrés, la
        ansiedad, la depresión, el TDAH y otros trastornos. Durante el proceso,
        nuestros profesionales certificados te acompañarán para fortalecer estos
        cambios y lograr resultados positivos y sostenibles.
      </p>

      <p class="mb-12 text-xl">
        Utilizamos tecnología de vanguardia para promover estas mejoras y
        alcanzar un mayor equilibrio en los niveles biológicos, mentales,
        conductuales y emocionales.
      </p>
    </section>

    <!-- <div class="flex flex-col gap-3 mx-auto mt-16 text-lg max-w-2xl">
      <h3 class="text-2xl font-bold text-center mb-4">
        Ventajas del Neurofeedback
      </h3>
      <p class="mb-4">
        El neurofeedback es una técnica no invasiva, sin efectos secundarios que
        puede ayudar en el tratamiento de: Alteraciones del Aprendizaje
      </p>
      <ul class="list-disc list-inside">
        <li>Alteraciones del Lenguaje</li>
        <li>Ansiedad</li>
        <li>Alcoholismo y Drogadiccion</li>
        <li>Depresión y otras alteraciones del ánimo</li>
        <li>Desorden de estres post traumatico</li>
        <li>Efectos de lesiones cerebrales</li>
        <li>Epilepsia</li>
        <li>
          Transtorno de deficit de atención con o sin Hiperactividad o
          Impulsividad
        </li>
        <li>Transtorno Obsesivo Compulsivo</li>
        <li>Problemas de conducta</li>
      </ul>
    </div> -->
  </Container>
</Layout>
