---
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <img
      src="/logo-white-big.svg"
      alt="BrainCare - Centro de Neurofeedback y psicoterapia"
    />
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/agenda-una-cita"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-red-900 w-5 h-5" name="lucide:contact" />

        Agenda una cita
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/que-es-neurofeedback"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="mdi:brain-freeze-outline" />
        Qué es Neurofeedback
      </Link>
    </div>
  </div>
</main>
