---
const { align = "center", bgColor = "#f4eded" } = Astro.props;
---

<div
  class:list={["py-16 mb-8", align === "center" && "text-center"]}
  style={{ backgroundColor: bgColor }}>
  <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <slot name="title">Title</slot>
  </h1>
  <p class="text-lg mt-4 text-slate-600">
    <slot name="desc">Some description goes here</slot>
  </p>
</div>
